# Auto-detect text files and normalize them to LF in the repo
*    text=auto eol=lf

# Explicitly ensure shell scripts and other Unix files use LF
*.sh text eol=lf
*.py text eol=lf
.secrets.baseline merge=secrets-baseline
